{% extends 'edunet/base.html' %}

{% block title %} Contributors {% endblock %}

{% block header %} <h2>EduNet would like to recognize its Contributors...</h2> {% endblock %}

{% block body %}
    <style>
        ul {
            list-style-type: none;
        }
    </style>

    <h6>Fairfield University</h6>
    <ul>
        <li><a href="mailto:rusu@fairfield.edu">Adrian Rusu</a></li>
        <li><a href="mailto:daintong@hotmail.com">Gary Dainton</a></li>
        <li><a href="mailto:rian.boutin@student.fairfield.edu">Rian Boutin</a></li>
    </ul>
    <h6>Yale University</h6>
    <ul>
        <li>Various professors for supplying their courses</li>
    </ul>
    <h6>Private</h6>
    <ul>
        <li><a href="mailto:becheru@gmail.com">Alex Becheru</a></li>
        <li><a href="mailto:soft.gandhi@gmail.com">Anurag Gandhi</a></li>
    </ul>

{% endblock %}