{% extends 'edunet/index.html' %}

{% block title %} Course Processor {% endblock %}

{% block header %} Course Processor View {% endblock %}

{% block body %}

    {{ course.course_name }}

    <p>The course has been sucessfully processed. Click <a href="{% url 'edunet:course_detail' department.department_slug course.course_slug %}">here</a> to return to the course detail page.</p>

{% endblock %}

{% block links %}
    <div>
        <a href="{% url 'edunet:index' %}">Home</a>
        <a href="{% url 'edunet:departments' %}">Departments</a>
        <a href="{% url 'edunet:course_list' department.department_slug %}">Course list</a>
        <a href="{% url 'edunet:course_detail' department.department_slug course.course_slug %}">Course Detail</a>
    </div>
{% endblock %}