{% extends 'edunet/index.html' %}

{% load hitcount_tags %}

{% block title %} Course Detail {% endblock %}

{% block header %} Course Detail {% endblock %}

{% block body %}

    <h4>Department: {{ department.department_name }}:</h4> 
    <h5>Course: {{ course.course_name }} {{ course.course_number }}</h5>

    <p>{{ course.course_description }}</p>
    <p><a href="{{ course.course_url }}">Click here to visit the course at the Yale website.</a></p>

    {% if transcript_numbers %}
        <h5>Already processed lectures for this course.</h5>
        <ul>
            {% for transcript_num in transcript_numbers %}
                <li><a href="{% url 'edunet:tk_view' department.department_slug course.course_slug transcript_num %}">Transcript: {{ transcript_num }}</a></li>
            {% endfor %}
        </ul>
        <p><a href="{% url 'edunet:tk_form' department.department_slug course.course_slug %}">Click here to submit a transcript form request with your desired keywords.</a></p>
    {% else %}
        <p>No processed lectures available</p>
        <p><a href="{% url 'edunet:course_processor' department.department_slug course.course_slug %}">Click here to process courses, this may take a minute.</a></p>
    {% endif %}

    <p>Visits: {% get_hit_count for course %}</p>

{% endblock %}

{% block links %}
    <div>
        <a href="{% url 'edunet:index' %}">Home</a>
        <a href="{% url 'edunet:departments' %}">Departments</a>
        <a href="{% url 'edunet:course_list' department.department_slug %}">Course list</a>
        <a href="{% url 'edunet:course_detail' department.department_slug course.course_slug %}">Course Detail</a>
    </div>
{% endblock %}