{% extends 'edunet/base.html' %}

{% block author %}
    <meta name="author" content="Anurag Gandhi">
    <meta name="author" content="Rian Boutin">
{% endblock %}

{% block title %} {{ course.course_number }} Puzzle {% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'edunet:course_list' department.department_slug %}">{{ department.department_name }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'edunet:course_detail' department.department_slug course.course_slug %}">{{ course.course_number }}</a>
</li>
{% endblock %}

{% block header %}
    <h2>Course: {{ course.course_name }} {{ course.course_number }}</h2>
    <h4>Lecture: {{ lecture_title }} Puzzle of Knowledge</h4>
{% endblock %}

{% block body %}
    {% load static %}
    <link href="{% static 'edunet/puzzle-style.css' %}" rel="stylesheet"/>
    <script src="{% static 'edunet/js/puzzle-functions.js' %}"></script>
    <!--This style has to be here until it is determined what is causing the <h2> tags to have text-align center-->
    <style>
        h2 {text-align: left;}
    </style>

    <p>The center of the puzzle includes the more important keywords.</p>
    
    <div id="collage">
        <hr />
        <div id="playPanel" style="padding:5px;display:none;">
            <hr />
            <div style="display:inline-block; margin:auto; width:95%; vertical-align:top;">
                <ul id="sortable" class="sortable"></ul>
                <div id="actualImageBox">
                    <div id="stepBox">
                        <div>Steps:</div>
                        <div id="stepCount" class="stepCount">0</div>
                    </div>
                    <div id="timeBox">
                        Time Taken: <span id="timerPanel"></span> secs
                    </div>
                    <img id="actualImage" />
                    <div>Re-arrange to create a picture like this.</div>
                    <p id="levelPanel">
                        <input type="radio" name="level" id="easy" checked="checked" value="3" onchange="imagePuzzle.startGame(images, this.value);"/>
                        <label for="easy">Easy</label>
                        <input type="radio" name="level" id="medium" value="4" onchange="imagePuzzle.startGame(images, this.value);" />
                        <label for="medium">Medium</label>
                        <input type="radio" name="level" id="hard" value="5" onchange="imagePuzzle.startGame(images, this.value);" />
                        <label for="hard">Hard</label>
                    </p>
                    <div>
                        <button id="btnRule" type="button" class="btn" onclick="rules();">Rules</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="gameOver" style="display:none;">
            <div style="background-color: #fc9e9e; padding: 5px 10px 20px 10px; text-align: center; ">
                <h2 style="text-align:center">Game Over!!</h2>
                Congratulations!! <br /> You have completed this picture.
                <br /> Steps: <span id="stepCount" class="stepCount">0</span> steps.
                <br /> Time Taken: <span class="timeCount">0</span> seconds<br />
                <div>
                    <button type="button" onclick="window.location.reload(true);">Play Again</button>
                </div>
            </div>
        </div>

        <script>
            // Only contains images up to chem125b... static folder doesn't contain images for chem classes yet
            var choice = '{{ puzzle }}'
            var images = [
                // AFAM 162
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript01.jpg' %}", title: 'afam162_01'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript02.jpg' %}", title: 'afam162_02'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript03.jpg' %}", title: 'afam162_03'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript04.jpg' %}", title: 'afam162_04'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript05.jpg' %}", title: 'afam162_05'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript06.jpg' %}", title: 'afam162_06'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript07.jpg' %}", title: 'afam162_07'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript08.jpg' %}", title: 'afam162_08'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript09.jpg' %}", title: 'afam162_09'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript10.jpg' %}", title: 'afam162_10'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript11.jpg' %}", title: 'afam162_11'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript12.jpg' %}", title: 'afam162_12'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript13.jpg' %}", title: 'afam162_13'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript14.jpg' %}", title: 'afam162_14'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript15.jpg' %}", title: 'afam162_15'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript16.jpg' %}", title: 'afam162_16'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript17.jpg' %}", title: 'afam162_17'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript18.jpg' %}", title: 'afam162_18'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript19.jpg' %}", title: 'afam162_19'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript20.jpg' %}", title: 'afam162_20'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript21.jpg' %}", title: 'afam162_21'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript22.jpg' %}", title: 'afam162_22'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript23.jpg' %}", title: 'afam162_23'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript24.jpg' %}", title: 'afam162_24'},
                { src: "{% static 'edunet/images/puzzle_afam162/Puzzle#transcript25.jpg' %}", title: 'afam162_25'},
                // AMST 246
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript01.jpg' %}", title: 'amst246_01'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript02.jpg' %}", title: 'amst246_02'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript03.jpg' %}", title: 'amst246_03'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript04.jpg' %}", title: 'amst246_04'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript05.jpg' %}", title: 'amst246_05'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript06.jpg' %}", title: 'amst246_06'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript07.jpg' %}", title: 'amst246_07'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript08.jpg' %}", title: 'amst246_08'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript09.jpg' %}", title: 'amst246_09'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript10.jpg' %}", title: 'amst246_10'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript11.jpg' %}", title: 'amst246_11'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript12.jpg' %}", title: 'amst246_12'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript13.jpg' %}", title: 'amst246_13'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript14.jpg' %}", title: 'amst246_14'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript15.jpg' %}", title: 'amst246_15'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript16.jpg' %}", title: 'amst246_16'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript17.jpg' %}", title: 'amst246_17'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript18.jpg' %}", title: 'amst246_18'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript19.jpg' %}", title: 'amst246_19'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript20.jpg' %}", title: 'amst246_20'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript21.jpg' %}", title: 'amst246_21'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript22.jpg' %}", title: 'amst246_22'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript23.jpg' %}", title: 'amst246_23'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript24.jpg' %}", title: 'amst246_24'},
                { src: "{% static 'edunet/images/puzzle_amst246/Puzzle#transcript25.jpg' %}", title: 'amst246_25'},
                // ASTR 160 
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript01.jpg' %}", title: 'astr160_01'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript02.jpg' %}", title: 'astr160_02'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript03.jpg' %}", title: 'astr160_03'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript04.jpg' %}", title: 'astr160_04'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript05.jpg' %}", title: 'astr160_05'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript06.jpg' %}", title: 'astr160_06'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript07.jpg' %}", title: 'astr160_07'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript08.jpg' %}", title: 'astr160_08'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript09.jpg' %}", title: 'astr160_09'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript10.jpg' %}", title: 'astr160_10'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript11.jpg' %}", title: 'astr160_11'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript12.jpg' %}", title: 'astr160_12'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript13.jpg' %}", title: 'astr160_13'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript14.jpg' %}", title: 'astr160_14'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript15.jpg' %}", title: 'astr160_15'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript16.jpg' %}", title: 'astr160_16'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript17.jpg' %}", title: 'astr160_17'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript18.jpg' %}", title: 'astr160_18'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript19.jpg' %}", title: 'astr160_19'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript20.jpg' %}", title: 'astr160_20'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript21.jpg' %}", title: 'astr160_21'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript22.jpg' %}", title: 'astr160_22'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript23.jpg' %}", title: 'astr160_23'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript24.jpg' %}", title: 'astr160_24'},
                { src: "{% static 'edunet/images/puzzle_astr160/Puzzle#transcript25.jpg' %}", title: 'astr160_25'},
                // BENG 100
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript01.jpg' %}", title: 'beng100_01'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript02.jpg' %}", title: 'beng100_02'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript03.jpg' %}", title: 'beng100_03'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript04.jpg' %}", title: 'beng100_04'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript05.jpg' %}", title: 'beng100_05'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript06.jpg' %}", title: 'beng100_06'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript07.jpg' %}", title: 'beng100_07'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript08.jpg' %}", title: 'beng100_08'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript09.jpg' %}", title: 'beng100_09'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript10.jpg' %}", title: 'beng100_10'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript11.jpg' %}", title: 'beng100_11'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript12.jpg' %}", title: 'beng100_12'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript13.jpg' %}", title: 'beng100_13'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript14.jpg' %}", title: 'beng100_14'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript15.jpg' %}", title: 'beng100_15'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript16.jpg' %}", title: 'beng100_16'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript17.jpg' %}", title: 'beng100_17'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript18.jpg' %}", title: 'beng100_18'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript19.jpg' %}", title: 'beng100_19'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript20.jpg' %}", title: 'beng100_20'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript21.jpg' %}", title: 'beng100_21'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript22.jpg' %}", title: 'beng100_22'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript23.jpg' %}", title: 'beng100_23'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript24.jpg' %}", title: 'beng100_24'},
                { src: "{% static 'edunet/images/puzzle_beng100/Puzzle#transcript25.jpg' %}", title: 'beng100_25'},
                // CHEM 125
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript01.jpg' %}", title: 'chem125_01'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript02.jpg' %}", title: 'chem125_02'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript03.jpg' %}", title: 'chem125_03'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript04.jpg' %}", title: 'chem125_04'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript05.jpg' %}", title: 'chem125_05'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript06.jpg' %}", title: 'chem125_06'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript07.jpg' %}", title: 'chem125_07'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript08.jpg' %}", title: 'chem125_08'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript09.jpg' %}", title: 'chem125_09'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript10.jpg' %}", title: 'chem125_10'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript11.jpg' %}", title: 'chem125_11'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript12.jpg' %}", title: 'chem125_12'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript13.jpg' %}", title: 'chem125_13'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript14.jpg' %}", title: 'chem125_14'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript15.jpg' %}", title: 'chem125_15'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript16.jpg' %}", title: 'chem125_16'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript17.jpg' %}", title: 'chem125_17'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript18.jpg' %}", title: 'chem125_18'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript19.jpg' %}", title: 'chem125_19'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript20.jpg' %}", title: 'chem125_20'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript21.jpg' %}", title: 'chem125_21'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript22.jpg' %}", title: 'chem125_22'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript23.jpg' %}", title: 'chem125_23'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript24.jpg' %}", title: 'chem125_24'},
                { src: "{% static 'edunet/images/puzzle_chem125/Puzzle#transcript25.jpg' %}", title: 'chem125_25'},
                // CHEM 125b
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript01.jpg' %}", title: 'chem125b_01'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript02.jpg' %}", title: 'chem125b_02'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript03.jpg' %}", title: 'chem125b_03'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript04.jpg' %}", title: 'chem125b_04'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript05.jpg' %}", title: 'chem125b_05'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript06.jpg' %}", title: 'chem125b_06'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript07.jpg' %}", title: 'chem125b_07'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript08.jpg' %}", title: 'chem125b_08'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript09.jpg' %}", title: 'chem125b_09'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript10.jpg' %}", title: 'chem125b_10'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript11.jpg' %}", title: 'chem125b_11'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript12.jpg' %}", title: 'chem125b_12'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript13.jpg' %}", title: 'chem125b_13'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript14.jpg' %}", title: 'chem125b_14'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript15.jpg' %}", title: 'chem125b_15'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript16.jpg' %}", title: 'chem125b_16'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript17.jpg' %}", title: 'chem125b_17'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript18.jpg' %}", title: 'chem125b_18'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript19.jpg' %}", title: 'chem125b_19'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript20.jpg' %}", title: 'chem125b_20'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript21.jpg' %}", title: 'chem125b_21'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript22.jpg' %}", title: 'chem125b_22'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript23.jpg' %}", title: 'chem125b_23'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript24.jpg' %}", title: 'chem125b_24'},
                { src: "{% static 'edunet/images/puzzle_chem125b/Puzzle#transcript25.jpg' %}", title: 'chem125b_25'},
            ];

            window.onload = function () {
                var gridSize = document.querySelector('#levelPanel input[type="radio"]:checked').getAttribute('value');
                imagePuzzle.startGame(images, gridSize, choice);
            };
            function restart() {
                var gridSize = document.querySelector('#levelPanel input[type="radio"]:checked').getAttribute('value');
                imagePuzzle.startGame(images, gridSize, choice);
            }
            function rules() {
                alert('Rearrange the puzzle pieces to complete the picture. \nThe number of steps and time will be counted.');
            }
        </script>
    </div>
{% endblock %}
