{% extends 'edunet/index.html' %}

{% block title %} Help {% endblock %}

{% block header %} Help View {% endblock %}

{% block body %}

    <p>
        To find a course to study either search for it or navigate through the department list and into the course
        list for the particular department. Once at the desired course, if there are no processed transcript, click
        process transcript button and wait a few minutes while all the lectures for the course are processed. A
        success page will display if the courses where processed successfully. Click to go back to the course detail
        page and then select any lectue you desire, the base keywords per lecture and paragraph is ten. If you 
        want less then submit a form with you custom keywords, this process only takes a second.

        <br><br>

        You can also see how many of your peers have came to the same course to browse it or study by the visit count!
    </p>

{% endblock %}