{% extends 'edunet/base.html' %}

{% block title %} {{ course.course_number }} Tree Form {% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'edunet:course_list' department.department_slug %}">{{ department.department_name }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'edunet:course_detail' department.department_slug course.course_slug %}">{{ course.course_number }}</a>
</li>
{% endblock %}

{% block header %}
    <h6>Department: {{ department.department_name }}</h6> 
    <h6>Course: {{ course.course_name }}</h6>
{% endblock %}

{% block body %}
    <h6>Tree of Knowledge Form</h6>

    {{ error_message }}

    <form method="GET">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>

{% endblock %}