{% extends 'edunet/index.html' %}

{% block title %} Course Form {% endblock %}

{% block header %} Course Form {% endblock %}

{% block body %}

    <h5>Department: {{ department.department_name }}:</h5> 
    <h4>Course: {{ course.course_name }}</h4>
    <h3>Tree of Knowledge Form</h3>

    {{ error_message }}

    <form method="GET">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>

{% endblock %}

{% block links %}
    {% if user.is_authenticated %}
    <div>
        <a href="{% url 'edunet:index' %}">Home</a>
        <a href="{% url 'edunet:departments' %}">Departments</a>
        <a href="{% url 'edunet:course_list' department.department_slug %}">Course list</a>
        <a href="{% url 'edunet:course_detail' department.department_slug course.course_slug %}">Course Detail</a>
        <a href="{% url 'edunet:course_detail' department.department_slug course.course_slug %}">Course Form</a>
    </div>
    {% endif %}
{% endblock %}
